<form autocomplete="off">
    <md-card class="example-card2">
        <h2>Login</h2>
        <md-card-content>

            <md-input-container>
                <label>Username</label>
                <input mdInput  ng-model="user.username">
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input mdInput  ng-model="user.password" type="password">
            </md-input-container>

        </md-card-content>
        <md-card-actions>
            <button md-raised-button>Login</button>
            <button md-button>Register</button>
        </md-card-actions>
    </md-card>
</form>